modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzipNLS", "lsof", "psmisc", "zip", "jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[[ports]]
localPort = 33673
externalPort = 4200

[[ports]]
localPort = 33753
externalPort = 3002

[[ports]]
localPort = 34493
externalPort = 6000

[[ports]]
localPort = 35091
externalPort = 3001

[[ports]]
localPort = 37885
externalPort = 5000

[[ports]]
localPort = 38763
externalPort = 3003

[[ports]]
localPort = 39351
externalPort = 8080

[[ports]]
localPort = 39923
externalPort = 8081

[[ports]]
localPort = 43441
externalPort = 8000

[[ports]]
localPort = 44443
externalPort = 8008

[[ports]]
localPort = 45423
externalPort = 8099

[[ports]]
localPort = 45915
externalPort = 5173

[[ports]]
localPort = 46303
externalPort = 6800

[[ports]]
localPort = 46641
externalPort = 9000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
